<div class="container" id="card">
  <div class="row">
    <div class="col-md-12" style="padding-top: 2em">
      <div class="d-flex justify-content-center" *ngIf="loading">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Cargando...</span>
        </div>
      </div>
      <table mdbTable>
        <thead class="black white-text">
          <tr>
            <th
              *ngFor="let head of headElements"
              (click)="sort(head.name)"
              scope="col"
            >
              <mdb-icon
                *ngIf="sortedBy !== head.name"
                fas
                icon="sort"
              ></mdb-icon>
              <mdb-icon
                *ngIf="sortedBy === head.name && sortOrder === 'ASC'"
                fas
                icon="sort-up"
              ></mdb-icon>
              <mdb-icon
                *ngIf="sortedBy === head.name && sortOrder === 'DESC'"
                fas
                icon="sort-down"
              ></mdb-icon>
              {{ head.translatedName }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            app-table-row
            *ngFor="let product of products"
            [product]="product"
          ></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="padding-top: 1em">
      <app-paginator
        [totalPagesObservable]="totalItems.asObservable()"
        (selectedPageEvent)="pageChange($event)"
        (numberOfRowsEvent)="setRows($event)"
      ></app-paginator>
    </div>
  </div>
</div>
