/* You can add global styles to this file, and also import other style files */

body{
    background-color: #c7c7c7 !important;
}

#card {
    margin-top: 2em;
    border-radius: 25px;
    background: rgba(240, 236, 236, 0.87);
  }