<div class="container">
  <div class="row">
    <div class="col-md-12" style="padding-top: 2em">
      <table mdbTable>
        <thead class="black white-text">
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of elements">
            <th scope="row">{{ el.studentId }}</th>
            <td>{{ el.firstName }}</td>
            <td>{{ el.lastName }}</td>
            <td>{{ el.email }}</td>
            <td>{{ el.address }}</td>
            <td>{{ el.dni }}</td>
            <td>
              <button
                (click)="delete(el.studentId)"
                type="button"
                mdbBtn
                color="green"
              >
                Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
