<div class="container">
  <div class="row">
    <div class="col-md-12" style="padding-top: 2em">
      <table mdbTable>
        <thead class="black white-text">
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of elements">
            <th [routerLink]="['/view', el.studentId]" scope="row">
              {{ el.studentId }}
            </th>
            <td [routerLink]="['/view', el.studentId]">{{ el.firstName }}</td>
            <td [routerLink]="['/view', el.studentId]">{{ el.lastName }}</td>
            <td [routerLink]="['/view', el.studentId]">{{ el.email }}</td>
            <td [routerLink]="['/view', el.studentId]">{{ el.address }}</td>
            <td [routerLink]="['/view', el.studentId]">{{ el.dni }}</td>
            <td [routerLink]="['/view', el.studentId]">{{ el.careerName }}</td>
            <td>
              <button
                [routerLink]="['/patch', el.studentId]"
                type="button"
                mdbBtn
                color="green"
                class="waves-light"
                mdbWavesEffect
                size="sm"
              >
                Editar
              </button>
            </td>
            <td>
              <button
                (click)="delete(el.studentId)"
                type="button"
                mdbBtn
                color="green"
                class="waves-light"
                mdbWavesEffect
                size="sm"
              >
                Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center" *ngIf="loading">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Cargando...</span>
        </div>
      </div>
    </div>
  </div>
</div>
