<div class="container" style="height:100vh">
  <div class="h-100 row justify-content-md-center">
    <div class="col-12">
      <div class="wrapper">
        <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
            <h1>Login</h1>
          </div>

          <!-- Login Form -->
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <input
              formControlName="email"
              type="text"
              id="login"
              class="fadeIn second"
              name="login"
              placeholder="Email"
            />
            <input
              formControlName="password"
              type="password"
              id="password"
              class="fadeIn third"
              name="login"
              placeholder="Password"
            />
            <input
              [disabled]="!loginForm.valid"
              type="submit"
              class="fadeIn fourth"
              value="Log In"
            />
          </form>

          <div
            *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="email.errors?.required">
              Email required
            </div>
            <div *ngIf="email.errors?.email">
              Email not valid
            </div>
            <div *ngIf="password.errors?.required">
              Password required
            </div>
          </div>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a
              class="underlineHover"
              [routerLink]="['/register']"
              routerLinkActive="router-link-active"
              >Register</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
